#container{
    display: grid;
    grid-template-columns: 3fr 3fr 4fr;
    grid-template-rows: repeat(6,1fr);
    flex-direction: column;
    border: solid 2px blue;
    border-radius: 10px 10px 10px 10px;
    height: 1000px;
    width: 1000px;
}

#liste{
    display: grid;
    grid-column: 3;
    grid-row: 1 /span 3;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    align-self: center;
    width: 200px;
    height: 200px;
    border: solid 2px blue;
    border-radius: 10px 10px 10px 10px;
}

h3{
    text-align: center;
}

ul{
    list-style-type: none;
}
